.top-menu {
  @include breakpointsMaxW($bp-991) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    line-height: 1;
    
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    transition: 200ms ease;
    color: #8f8d99;

    &:hover {
      color: var(--color-accent);
    }
  }
}
