.product {
  @include adaptive-value('padding-top', 50, 30, 1);
  @include adaptive-value('padding-bottom', 60, 40, 1);

  &__title {
    @include adaptive-value('font-size', 26, 20, 1);
    color: #323131;
    margin-bottom: 8px;
    font-weight: 400;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 30px;
    @include adaptive-value('margin-bottom', 60, 40, 1);

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__slider {
    min-width: 0;
    height: 100%;
    max-width: 640px;
    width: 100%;

    @include breakpointsMaxW($bp-991) {
      margin: 0 auto;
      max-width: 550px;
      height: auto;
    }
  }

  &__price {
    @include fz30();
    line-height: 1;
    font-weight: 600;
    color: #323131;
  }

  .slider-thumbs {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 72px 1fr;
    gap: 10px;
    height: 100%;
    min-width: 0;
    position: relative;
    background-color: var(--color-white);
    z-index: 1;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
      width: 100%;
    }

    &__nav {
      width: 100%;
      height: 530px;
      position: relative;

      @include breakpointsMaxW($bp-991) {
        height: 80px;
        max-width: 100%;
      }
    }

    &__nav-wrap {
      flex-shrink: 0;
      width: 100%;
      min-width: 0;
      position: relative;
      height: calc(100% - 100px);

      @include breakpointsMaxW($bp-991) {
        max-width: 360px;
        height: 100%;
        width: 90%;
      }

      @include breakpointsMaxW($bp-576) {
        max-width: 300px;
      }

      @include breakpointsMaxW($bp-360) {
        max-width: 280px;
      }

      .swiper-slide {
        cursor: pointer;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65px;

        &-thumb-active {
          border: 2px solid #e7ac52;
        }

        @include breakpointsMaxW($bp-991) {
          height: 100%;
          width: 80px;
        }

        img {
          @include img(contain);
        }
      }
    }

    &__main {
      max-width: 100%;
      height: 100%;
      min-width: 0;
      position: relative;

      @include breakpointsMaxW($bp-991) {
        order: -1;
        height: 430px;
        width: 100%;
      }

      @include breakpointsMaxW($bp-576) {
        height: calc(280px + (430 - 280) * ((100vw - 360px) / (576 - 360)));
      }

      .swiper-slide {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .slider-thumbs__img {
          width: 99%;
          height: 99%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    &__nav-control {
      position: absolute;
      width: 30px;
      height: 30px;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 50px;
      justify-content: space-between;

      @include breakpointsMaxW($bp-991) {
        display: none;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: relative;
      background-color: transparent;
      width: 15px;
      height: 15px;
      right: 0;
      left: 0;
      margin-top: 0;
      top: 0;
      bottom: 0;

      &::after {
        background-color: var(--color-dark);
        @include maskImage(url('../images/icons/chevron.svg'), contain);
      }

      @include breakpointsMaxW($bp-991) {
        display: none;
      }
    }

    .swiper-button-prev {
      transform: rotate(-90deg);
    }

    .swiper-button-next {
      transform: rotate(-90deg);
    }

    &__scale {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 49px;
      height: 49px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      z-index: 5;
      transition: 200ms ease;
      pointer-events: none;

      &::after {
        @include elDef();
        width: 24px;
        height: 24px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include maskImage(url('../images/content/search.png'), contain);
        background-color: var(--color-white);
      }

      &:hover {
        background-color: var(--color-white);

        &::after {
          background-color: var(--color-dark);
        }
      }
    }
  }

  &__top-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 13px;
    margin-bottom: 20px;

    @include breakpointsMaxW($bp-576) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__top-right {
    max-width: 160px;
    text-align: right;
    font-size: 14px;
    line-height: 19px;
    color: #888888;

    @include breakpointsMaxW($bp-576) {
      text-align: left;
      max-width: 100%;
    }
  }

  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 13px;
    margin-bottom: 16px;
  }

  &__top-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__vendor-code {
    font-size: 13px;
    color: #ababab;
  }

  &__sizes {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__size {
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    color: #323131;
    position: relative;

    &::after {
      @include elDef();
      width: 22px;
      height: 7px;
      @include backgroundImage(url('../images/content/size.png'), contain);
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--height {
      &::after {
        left: -15px;
        top: 50%;
        transform: translate(0, -50%) rotate(90deg);
        height: 7px;
        width: 22px;
      }
    }
  }

  &__name {
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    color: #323131;
    margin-bottom: 15px;
  }

  &__payment {
    width: 150px;
    height: 20px;
    margin-bottom: 25px;

    img {
      @include img(contain);
    }
  }

  &__height {
    margin-bottom: 15px;
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 230px)) auto;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;

    @include breakpointsMaxW($bp-991) {
      justify-content: flex-start;
    }

    @include breakpointsMaxW($bp-576) {
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
    }
  }

  &__btn {
    padding-top: 18px;
    font-weight: 600;
    position: relative;
    max-width: 230px;
    width: 100%;
    min-width: 200px;

    &--click {
      border: 1px solid var(--color-accent);
      border-radius: 5px;
      color: var(--color-accent);
      font-size: 16px;

      @include breakpointsMaxW($bp-576) {
        grid-column: span 4;
        max-width: 100%;
        grid-row: 1/2;
      }
    }

    &--cart {
      padding-left: 80px;

      @include breakpointsMaxW($bp-container) {
        padding-left: 60px;
      }

      @include breakpointsMaxW($bp-576) {
        max-width: 100%;
        grid-column: span 3;
      }

      &::before {
        @include elDef();
        width: 15px;
        height: 15px;
        top: 50%;
        transform: translateY(-50%);
        left: 50px;
        @include maskImage(url('../images/content/shopping-bag.png'), contain);
        background-color: var(--color-white);

        @include breakpointsMaxW($bp-container) {
          left: 30px;
        }
      }
    }

    &--heart {
      min-width: auto;
      width: 52px;
      height: 52px;
      border: 1px solid #e1e1e1;
      border-radius: 5px;
      transition: 200ms ease;
      flex-shrink: 0;

      @include breakpointsMaxW($bp-576) {
        justify-self: end;
      }

      &::before {
        @include elDef();
        width: 20px;
        height: 20px;
        @include maskImage(url('../images/icons/heart.svg'), contain);
        background-color: var(--color-dark);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 200ms ease;
      }

      &:hover {
        background-color: var(--color-accent);

        &::before {
          background-color: var(--color-white);
        }
      }
    }
  }

  .product-height {
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 13px;
    }

    &__btn {
      width: 100%;
      height: 55px;
      border: 1px solid #d9d8d8;
      border-radius: 5px;
      transition: 200ms ease;

      &:hover {
        border-color: #4abb51;
      }

      &--active {
        border: 2px solid #4abb51;
      }
    }
  }

  .product-details {
    padding: 20px 40px;
    background-color: #f5f5f5;
    border-radius: 5px;

    @include breakpointsMaxW($bp-768) {
      padding: 20px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 20px 45px;

      @include breakpointsMaxW($bp-576) {
        grid-template-columns: 1fr;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.product-tabs {
  &__top {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    @include adaptive-value('margin-bottom', 40, 20, 1);

    &-inner {
      @include breakpointsMaxW($bp-768) {
        min-width: 100%;
        overflow-x: auto;
        padding-bottom: 5px;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 10px;

      @include breakpointsMaxW($bp-768) {
        width: 100%;
      }
    }

    &-btn {
      padding: 20px;
      font-size: 19px;
      line-height: 1;
      font-weight: 400;
      color: #363441;
      position: relative;

      @include breakpointsMaxW($bp-768) {
        padding-bottom: 15px;
      }

      &::after {
        @include elDef();
        width: 100%;
        height: 2px;
        background-color: var(--color-accent);
        bottom: -1px;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: 300ms ease;

        @include breakpointsMaxW($bp-768) {
          bottom: -3px;
        }
      }

      &.tabs-btn--active {
        font-weight: 500;

        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  &__content {
    display: none;

    &.active {
      display: block;
      animation: opacity-visibility 700ms ease forwards;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #636363;

    p {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
