.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  z-index: 3;

  &::after {
    @include elDef();
    width: 100%;
    height: 100%;
    @include maskImage(url('../images/icons/arrow-long.svg'), contain);
    background-color: var(--color-white);
  }
}

.swiper-button-prev {
  &::after {
    transform: rotate(180deg);
  }
}
