<section
  class="about-section"
  style="background-image: url('images/content/about.jpg')"
>
  <div class="container">
    <div class="about-section__offer">
      <h2 class="about-section__title">
        Интернет - магазин по доставке цветов и букетов в Москве и МО
      </h2>
      <div class="about-section__text">
        <p>
          Компания "Love Bouquet" - это мастерская настроения, всегда готовая
          помочь Вам с поздравлением Дорогого Вам человека или в организации
          праздника, за несколько лет мы стали персональным помощником для
          многих горожан!
        </p>
        <p>
          Наша цель — дарить Вам счастье. Мы помогаем Вам поздравить родных и
          близких, экономя Ваше время и средства! Согласитесь, ведь так удобно
          все заказать в одном месте по оптимальной цене и получить с доставкой
          на дом! Экономить свое время и свои усилия не только полезно, но и
          выгодно!
        </p>
      </div>

      <a class="about-section__btn btn btn--arrow" href="#">О компании</a>
    </div>
  </div>
</section>
