<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__item--delivery">
        <p>Быстрая доставка букетов в день заказа</p>
      </li>
      <li class="advantages__item advantages__item--free">
        <p>Бесплатная открытка и средство для ухода за цветами</p>
      </li>
      <li class="advantages__item advantages__item--bonus">
        <p>Бонусы и скидки за каждый сделанный заказ</p>
      </li>
      <li class="advantages__item advantages__item--photo">
        <p>Фотография букета перед доставкой</p>
      </li>
    </ul>
  </div>
</section>
