<section class="benefits">
  <div class="container">
    <div
      class="benefits__wrapper"
      style="background-image: url('images/content/benefits.jpg')"
    >
      <ul class="benefits__list">
        <li class="benefits__item benefits__item--fresh">
          100% <br />
          свежие цветы
        </li>
        <li class="benefits__item benefits__item--photo">
          Фото букета <br />
          перед отправкой
        </li>
        <li class="benefits__item benefits__item--card">
          Открытка <br />
          к букету
        </li>
        <li class="benefits__item benefits__item--delivery">
          Доставка <br />
          2 часа
        </li>
        <li class="benefits__item benefits__item--gift">
          Подарок <br />
          к каждому букету
        </li>
      </ul>
    </div>
  </div>
</section>
