<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="footer__col">
          <a class="footer__logo logo" href="#">
            <img src="images/logo.png" alt="Логотип" />
          </a>
        </div>
        <div class="footer__col">
          <p class="footer__name">Цветы</p>
          <div class="footer__lists">
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Розы</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Пионы</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Ромашки</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Гортензии</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Хризантемы</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Георгины</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Каллы</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Ирисы</a>
              </li>
            </ul>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Лиллии</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Гиацинты</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Анемоны</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Эустома</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Герберы</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Сирень</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__col">
          <p class="footer__name">Повод</p>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">На день рождения</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">На выписку</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Букет невесты</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Бизнес-букет</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Букет маме</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Букет девушке</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Комплимент</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__col">
          <p class="footer__name">Сервис</p>

          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#"> О нас</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Доставка</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Оплата</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Отзывы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Гарантии</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Возврат</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <p class="footer__name">Контакты</p>

          <ul class="footer-contacts">
            <li class="footer-contacts__item footer-contacts__item--phone">
              <span>заказ:</span>
              <a href="tel:+79067021115">+7 (906) 702-11-15</a>
            </li>
            <li class="footer-contacts__item footer-contacts__item--schedule">
              <span>Режим работы:</span>
              <p>круглосуточно 24/7</p>
            </li>
            <li class="footer-contacts__item footer-contacts__item--location">
              <span>Адрес:</span>
              <address>Москва, ул. Название улицы 10</address>
            </li>
            <li class="footer-contacts__item footer-contacts__item--email">
              <span>E-mail:</span>
              <a href="mailto:info@love-bouquet.ru">info@love-bouquet.ru</a>
            </li>
          </ul>
        </div>
        <div class="footer__col footer__col--last">
          <div class="footer__socials socials">
            <p class="socials__name">Мы в соц сетях</p>
            <ul class="socials__list">
              <li class="socials__item">
                <a
                  class="socials__link socials__link--vk"
                  href="#"
                  aria-label="Vk"
                ></a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link socials__link--whatsapp"
                  href="#"
                  aria-label="Whatsapp"
                ></a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link socials__link--telegram"
                  href="#"
                  aria-label="Telegram"
                ></a>
              </li>
            </ul>
          </div>
          <div class="footer__payment footer-payment">
            <p class="footer-payment__name">Способы оплаты</p>
            <ul class="footer-payment__list">
              <li class="footer-payment__item">
                <img
                  src="images/content/mir.png"
                  alt="Мир"
                  width="45"
                  height="15"
                />
              </li>
              <li class="footer-payment__item">
                <img
                  src="images/content/visa.png"
                  alt="Виза"
                  width="45"
                  height="15"
                />
              </li>
              <li class="footer-payment__item">
                <img
                  src="images/content/mastercard.png"
                  alt="Мастеркард"
                  width="30"
                  height="15"
                />
              </li>
              <li class="footer-payment__item">
                <img
                  src="images/content/ym.png"
                  alt="Яндекс деньги"
                  width="15"
                  height="15"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <div class="footer__bottom-left">
          2022 © Интернет-магазин цветов «Love Bouquet».
          <div class="footer__bottom-links">
            <a href="#">Политика конфиденциальности.</a>
            <a href="#">Согласие на обработку персональных данных.</a>
          </div>
        </div>

        <a class="company" href="https://razrabotka-saita.ru/" target="_blank">
          <span>Разработка сайта</span>
          <img src="images/logo-company.png" alt="АдвансМедиа" />
        </a>
      </div>
    </div>
  </div>
</footer>

<div class="fix-nav header-tools">
    <ul class="header-tools__list">
      <li class="header-tools__item">
        <button class="header-tools__btn" type="button">
          <span class="header-tools__icon">
            <svg width="15" height="15">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </span>
          <span>Поиск</span>
        </button>
      </li>
      <li class="header-tools__item">
        <button class="header-tools__btn" type="button">
          <span class="header-tools__icon">
            <svg width="15" height="15">
              <use xlink:href="images/sprite.svg#user"></use>
            </svg>
          </span>
          <span>Войти</span>
        </button>
      </li>
      <li class="header-tools__item">
        <button class="header-tools__btn" type="button">
          <span class="header-tools__icon">
            <svg width="15" height="15">
              <use xlink:href="images/sprite.svg#heart"></use>
            </svg>
          </span>

          <span>Избранные</span>
        </button>
      </li>
      <li class="header-tools__item">
        <button class="header-tools__btn" type="button">
          <span class="header-tools__icon">
            <svg width="15" height="15">
              <use xlink:href="images/sprite.svg#cart"></use>
            </svg>

            <small class="count">0</small>
          </span>
          <span>Корзина</span>
        </button>
      </li>
      <li class="header-tools__item header-tools__item--price-count">
        <span class="number">0</span><small> ₽ </small>
      </li>
    </ul>

</div>