<div class="payment">
  <div class="container">
    <div class="payment__top">
      <h2 class="payment__title">Информация по оплате заказов</h2>
      <p class="payment__text">
        Специально для вашего удобства в нашем интернет-магазинепредставлены все
        варианты оплаты. Оплачивайте заказы в несколько кликов и дарите своим
        близким самые приятные эмоции.
      </p>
    </div>

    <ul class="payment__list">
      <li class="payment-item payment-item--cashless">
        <div class="payment-item__top">
          <h3 class="payment-item__title">
            Безналичная оплата <br />
            на сайте
          </h3>
        </div>
        <div class="payment-item__body">
          <p class="payment-item__text">
            Покупки можно оплатить при помощи наличного или безналичного
            расчёта, в том числе пластиковыми картами: онлайн (прямо на сайте)
            или при получении товара.
          </p>
        </div>
      </li>
      <li class="payment-item payment-item--cash">
        <div class="payment-item__top">
          <h3 class="payment-item__title">
            Оплата наличными курьеру <br />
            при доставке
          </h3>
        </div>
        <div class="payment-item__body">
          <p class="payment-item__text">
            Для оплаты заказа наличными курьеру укажите способ оплаты «Оплата
            при получении». Все финансовые документы курьер вручит вам вместе с
            заказом. Оплата принимается в российских рублях.
          </p>
        </div>
      </li>
      <li class="payment-item payment-item--terminal">
        <div class="payment-item__top">
          <h3 class="payment-item__title">
            Оплата пластиковой картой по терминалу курьеру
          </h3>
        </div>
        <div class="payment-item__body">
          <p class="payment-item__text">
            К оплате принимаются карты платёжных систем Visa, MasterCard и Мир
            банков, зарегистрированных на территории РФ.
          </p>
        </div>
      </li>
      <li class="payment-item payment-item--electronic">
        <div class="payment-item__top">
          <h3 class="payment-item__title">Оплата электронными деньгами</h3>
        </div>
        <div class="payment-item__body">
          <p class="payment-item__text">
            Заказ можно оплатить через платёжные системы Яндекс.Деньги, QIWI
            Wallet, Сбербанк Онлайн. Быстрый и безопасный платёж осуществляется
            в реальном времени.
          </p>
        </div>
      </li>
      <li class="payment-item payment-item--coupon">
        <div class="payment-item__top">
          <h3 class="payment-item__title">
            Применение промокода <br />
            или купона
          </h3>
        </div>
        <div class="payment-item__body">
          <p class="payment-item__text">
            Чтобы применить промокод или купон на скидку, введите номер в
            специальное поле в разделе «Способы оплаты» или предъявите на кассе
            в магазине, если вы хотите оплатить товар при получении.
          </p>
        </div>
      </li>
      <li class="payment-item payment-item--invoice">
        <div class="payment-item__top">
          <h3 class="payment-item__title">Оплата по счету</h3>
        </div>
        <div class="payment-item__body">
          <p class="payment-item__text">
            Для оплаты банковским переводом при оформлении заказа укажите способ
            оплаты «Банковский перевод». Банковским переводом оплатить заказ
            могут как физические, так и юридические лица.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
