<section class="return">
  <div class="container">
    <h2 class="return__title">Возврат букетов</h2>

    <div class="return__inner">
      <ul class="return__list">
        <li class="return__item">
          Заказчик может внести изменения в состав или сроки доставки не
          позднее, чем за 6 часов до времени доставки заказа. В противном случае
          это изменение будет считаться как новый заказ и подлежит 100%
          предварительной оплате.
        </li>
        <li class="return__item">
          В случае отмены заказа не позднее, чем за 1 рабочий день до даты его
          исполнения, наша компания — служба доставки цветов и подарков по
          г.Москва и МО гарантирует возвращение заказчику сумму оплаты за заказ
          за минусом суммы расходов, понесенных компанией при выполнении заказа.
          Деньги возвращаются тем же способом, которым была произведена оплата.
          Такие же условия распространяются на размер предоплаты.
        </li>
        <li class="return__item">
          В случае указания ошибочного адреса или неполных данных, необходимых
          для осуществления доставки, отсутствия получателя по указанному адресу
          (по любой причине) в указанное время доставки и т.п., Компания
          обязуется приложить достаточные усилия, чтобы получатель получил
          Продукцию. Однако, если это не удаётся, либо получатель отказывается
          принять Продукцию по любой причине, Заказ признается Сторонами
          исполненным (вне зависимости от присутствия получателя по указанному
          Заказчиком адресу). При этом признанная доставленной Продукция
          хранится в Мастерской компании в течение суток и в течение этого
          времени может быть самостоятельно получена как получателем, так и
          представителем Заказчика.
        </li>
      </ul>

      <div class="return__text">
        <p>
          Указание контактного телефона получателя позволяет уточнить
          информацию, необходимую для успешной доставки Заказа. При отсутствии
          получателя по указанному Заказчиком адресу, цветы могут быть оставлены
          любому человеку в квартире или соседям, либо сотрудникам офиса.
        </p>
        <p>
          Цветы являются живым товаром. К отношениям между Клиентом и Продавцом
          применяется право Российской Федерации.
        </p>
        <p>
          В соответствии с Законом Российской Федерации «О защите прав
          потребителей» от 07.02.1992 № 2300-1 (в ред. от 25.10.2007г.) и
          Постановлением Правительства Российской Федерации от 19.01.1998 № 55
          (в ред. 27.03.2007г.) срезанные цветы и горшечные растения обмену и
          возврату не подлежат (указанны в Перечне непродовольственных товаров
          надлежащего качества, не подлежащих возврату или обмену).
        </p>
        <p>
          Покупатель Интернет-магазина имеет право отказаться от получения
          товара в момент доставки, если доставлен товар ненадлежащего качества
          (на основании п.3 ст. 497 ГК РФ, статья 21 Закона "О защите прав
          потребителей").
        </p>
        <p>
          При оплате картами возврат наличными денежными средствами не
          допускается.
        </p>
        <p>
          Порядок возврата регулируется правилами международных платежных
          систем.
        </p>
        <p>
          Процедура возврата товара регламентируется статьей 26.1 федерального
          закона «О защите прав потребителей».
        </p>
        <p>
          Для возврата денежных средств на банковскую карту необходимо заполнить
          «Заявление о возврате денежных средств», которое высылается по
          требованию компанией на электронный адрес и оправить его вместе с
          приложением копии паспорта по адресу возврат sale_msk@findreason.ru.
        </p>
        <p>
          Возврат денежных средств будет осуществлен на банковскую карту в
          течение 21 (двадцати одного) рабочего дня со дня получения «Заявление
          о возврате денежных средств» Компанией. Для возврата денежных средств
          по операциям проведенными с ошибками необходимо обратиться с
          письменным заявлением и приложением копии паспорта и чеков/квитанций,
          подтверждающих ошибочное списание. Данное заявление необходимо
          направить по адресу возврат sale_msk@findreason.ru. Сумма возврата
          будет равняться сумме покупки. Срок рассмотрения Заявления и возврата
          денежных средств начинает исчисляться с момента получения Компанией
          Заявления и рассчитывается в рабочих днях без учета
          праздников/выходных дней.
        </p>
      </div>
    </div>
  </div>
</section>
