<section class="today-bought today-bought--similar">
  <div class="container">
    <h2 class="today-bought__title">Вы смотрели</h2>

    <div class="today-bought__slider swiper">
      <ul class="today-bought__slides swiper-wrapper">
        <li class="today-bought__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__top">
              <img src="images/content/products/1.jpg" alt="Букет" />

              <div class="product-card__badge badge badge--daily">
                Букет дня
              </div>

              <div class="product-card__view card-view">
                <button
                  class="card-view__btn btn btn--transparent"
                  type="button"
                >
                  Быстрый просмотр
                </button>
              </div>
            </div>
            <div class="product-card__body">
              <div class="product-card__details">
                <h3 class="product-card__title">
                  <a href="#">Букет из разновцветных гладиолусов</a>
                </h3>

                <div class="product-card__prices">
                  <p class="product-card__price product-card__price--old">
                    6 500 ₽
                  </p>
                  <p class="product-card__price product-card__price--new">
                    5 250 ₽
                  </p>
                </div>
              </div>

              <div class="product-card__btns">
                <button class="product-card__cart btn" type="button">
                  В корзину
                </button>
                <button
                  class="product-card__btn product-card__btn--favorites"
                  type="button"
                  aria-label="Добавить в избранное"
                ></button>
                <button
                  class="product-card__btn product-card__btn--click"
                  type="button"
                  aria-label="Купить в один клик"
                ></button>
              </div>
            </div>
          </article>
        </li>
        <li class="today-bought__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__top">
              <img src="images/content/products/1.jpg" alt="Букет" />

              <div class="product-card__badge badge badge--daily">
                Букет дня
              </div>

              <div class="product-card__view card-view">
                <button
                  class="card-view__btn btn btn--transparent"
                  type="button"
                >
                  Быстрый просмотр
                </button>
              </div>
            </div>
            <div class="product-card__body">
              <div class="product-card__details">
                <h3 class="product-card__title">
                  <a href="#">Букет из разновцветных гладиолусов</a>
                </h3>

                <div class="product-card__prices">
                  <p class="product-card__price product-card__price--old">
                    6 500 ₽
                  </p>
                  <p class="product-card__price product-card__price--new">
                    5 250 ₽
                  </p>
                </div>
              </div>

              <div class="product-card__btns">
                <button class="product-card__cart btn" type="button">
                  В корзину
                </button>
                <button
                  class="product-card__btn product-card__btn--favorites"
                  type="button"
                  aria-label="Добавить в избранное"
                ></button>
                <button
                  class="product-card__btn product-card__btn--click"
                  type="button"
                  aria-label="Купить в один клик"
                ></button>
              </div>
            </div>
          </article>
        </li>
        <li class="today-bought__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__top">
              <img src="images/content/products/1.jpg" alt="Букет" />

              <div class="product-card__badge badge badge--daily">
                Букет дня
              </div>

              <div class="product-card__view card-view">
                <button
                  class="card-view__btn btn btn--transparent"
                  type="button"
                >
                  Быстрый просмотр
                </button>
              </div>
            </div>
            <div class="product-card__body">
              <div class="product-card__details">
                <h3 class="product-card__title">
                  <a href="#">Букет из разновцветных гладиолусов</a>
                </h3>

                <div class="product-card__prices">
                  <p class="product-card__price product-card__price--old">
                    6 500 ₽
                  </p>
                  <p class="product-card__price product-card__price--new">
                    5 250 ₽
                  </p>
                </div>
              </div>

              <div class="product-card__btns">
                <button class="product-card__cart btn" type="button">
                  В корзину
                </button>
                <button
                  class="product-card__btn product-card__btn--favorites"
                  type="button"
                  aria-label="Добавить в избранное"
                ></button>
                <button
                  class="product-card__btn product-card__btn--click"
                  type="button"
                  aria-label="Купить в один клик"
                ></button>
              </div>
            </div>
          </article>
        </li>
        <li class="today-bought__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__top">
              <img src="images/content/products/1.jpg" alt="Букет" />

              <div class="product-card__badge badge badge--daily">
                Букет дня
              </div>

              <div class="product-card__view card-view">
                <button
                  class="card-view__btn btn btn--transparent"
                  type="button"
                >
                  Быстрый просмотр
                </button>
              </div>
            </div>
            <div class="product-card__body">
              <div class="product-card__details">
                <h3 class="product-card__title">
                  <a href="#">Букет из разновцветных гладиолусов</a>
                </h3>

                <div class="product-card__prices">
                  <p class="product-card__price product-card__price--old">
                    6 500 ₽
                  </p>
                  <p class="product-card__price product-card__price--new">
                    5 250 ₽
                  </p>
                </div>
              </div>

              <div class="product-card__btns">
                <button class="product-card__cart btn" type="button">
                  В корзину
                </button>
                <button
                  class="product-card__btn product-card__btn--favorites"
                  type="button"
                  aria-label="Добавить в избранное"
                ></button>
                <button
                  class="product-card__btn product-card__btn--click"
                  type="button"
                  aria-label="Купить в один клик"
                ></button>
              </div>
            </div>
          </article>
        </li>
        <li class="today-bought__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__top">
              <img src="images/content/products/1.jpg" alt="Букет" />

              <div class="product-card__badge badge badge--daily">
                Букет дня
              </div>

              <div class="product-card__view card-view">
                <button
                  class="card-view__btn btn btn--transparent"
                  type="button"
                >
                  Быстрый просмотр
                </button>
              </div>
            </div>
            <div class="product-card__body">
              <div class="product-card__details">
                <h3 class="product-card__title">
                  <a href="#">Букет из разновцветных гладиолусов</a>
                </h3>

                <div class="product-card__prices">
                  <p class="product-card__price product-card__price--old">
                    6 500 ₽
                  </p>
                  <p class="product-card__price product-card__price--new">
                    5 250 ₽
                  </p>
                </div>
              </div>

              <div class="product-card__btns">
                <button class="product-card__cart btn" type="button">
                  В корзину
                </button>
                <button
                  class="product-card__btn product-card__btn--favorites"
                  type="button"
                  aria-label="Добавить в избранное"
                ></button>
                <button
                  class="product-card__btn product-card__btn--click"
                  type="button"
                  aria-label="Купить в один клик"
                ></button>
              </div>
            </div>
          </article>
        </li>
        <li class="today-bought__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__top">
              <img src="images/content/products/1.jpg" alt="Букет" />

              <div class="product-card__badge badge badge--daily">
                Букет дня
              </div>

              <div class="product-card__view card-view">
                <button
                  class="card-view__btn btn btn--transparent"
                  type="button"
                >
                  Быстрый просмотр
                </button>
              </div>
            </div>
            <div class="product-card__body">
              <div class="product-card__details">
                <h3 class="product-card__title">
                  <a href="#">Букет из разновцветных гладиолусов</a>
                </h3>

                <div class="product-card__prices">
                  <p class="product-card__price product-card__price--old">
                    6 500 ₽
                  </p>
                  <p class="product-card__price product-card__price--new">
                    5 250 ₽
                  </p>
                </div>
              </div>

              <div class="product-card__btns">
                <button class="product-card__cart btn" type="button">
                  В корзину
                </button>
                <button
                  class="product-card__btn product-card__btn--favorites"
                  type="button"
                  aria-label="Добавить в избранное"
                ></button>
                <button
                  class="product-card__btn product-card__btn--click"
                  type="button"
                  aria-label="Купить в один клик"
                ></button>
              </div>
            </div>
          </article>
        </li>
        <li class="today-bought__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__top">
              <img src="images/content/products/1.jpg" alt="Букет" />

              <div class="product-card__badge badge badge--daily">
                Букет дня
              </div>

              <div class="product-card__view card-view">
                <button
                  class="card-view__btn btn btn--transparent"
                  type="button"
                >
                  Быстрый просмотр
                </button>
              </div>
            </div>
            <div class="product-card__body">
              <div class="product-card__details">
                <h3 class="product-card__title">
                  <a href="#">Букет из разновцветных гладиолусов</a>
                </h3>

                <div class="product-card__prices">
                  <p class="product-card__price product-card__price--old">
                    6 500 ₽
                  </p>
                  <p class="product-card__price product-card__price--new">
                    5 250 ₽
                  </p>
                </div>
              </div>

              <div class="product-card__btns">
                <button class="product-card__cart btn" type="button">
                  В корзину
                </button>
                <button
                  class="product-card__btn product-card__btn--favorites"
                  type="button"
                  aria-label="Добавить в избранное"
                ></button>
                <button
                  class="product-card__btn product-card__btn--click"
                  type="button"
                  aria-label="Купить в один клик"
                ></button>
              </div>
            </div>
          </article>
        </li>
        <li class="today-bought__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__top">
              <img src="images/content/products/1.jpg" alt="Букет" />

              <div class="product-card__badge badge badge--daily">
                Букет дня
              </div>

              <div class="product-card__view card-view">
                <button
                  class="card-view__btn btn btn--transparent"
                  type="button"
                >
                  Быстрый просмотр
                </button>
              </div>
            </div>
            <div class="product-card__body">
              <div class="product-card__details">
                <h3 class="product-card__title">
                  <a href="#">Букет из разновцветных гладиолусов</a>
                </h3>

                <div class="product-card__prices">
                  <p class="product-card__price product-card__price--old">
                    6 500 ₽
                  </p>
                  <p class="product-card__price product-card__price--new">
                    5 250 ₽
                  </p>
                </div>
              </div>

              <div class="product-card__btns">
                <button class="product-card__cart btn" type="button">
                  В корзину
                </button>
                <button
                  class="product-card__btn product-card__btn--favorites"
                  type="button"
                  aria-label="Добавить в избранное"
                ></button>
                <button
                  class="product-card__btn product-card__btn--click"
                  type="button"
                  aria-label="Купить в один клик"
                ></button>
              </div>
            </div>
          </article>
        </li>
      </ul>

      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
    </div>
  </div>
</section>
